@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.menu-bar{
    background-image: linear-gradient(-90deg, #a83279, #d38312);
}
.nav-link{
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: #fff!important;
    font-size: 26px;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
.navbar-brand img{
    margin-left: 80px;
}

@media only screen and (max-width: 1000px) {
    .nav-link:hover{
        border-bottom: none!important;
    }
}
/* about us */

.about {
    background-color: #F8EFFA ;
}
.paragraph {
    line-height: 30px;
    margin-left: 40px;
}
/* footer */
a {
    text-decoration: none !important;
    color: #000 !important;
}
ul {
    list-style: none;
}
#different li {
    list-style: disc;
}
.footer {
    background-color: #FFE5F1;
    height: 550px;
}
.form-control-footer {
    width: 400px;
    border: none;
    height: 40px;
}
.form-control-footer:focus {
    outline: none;
}
.line {
    border: 2px solid orange;
    width: 70px;
    height: 2px;
}
.line2 {
    border: 2px solid orangered;
    width: 20px;
    height: 2px;
}
.btn_footer {
    width: 40px;
    height: 38px;
    border: none;
    background-color: #645CBB;
    color: #fff;
}
.footer_link ul li {
    padding-top: 20px;
}
#footer2 {
    margin-left: 80px;
}
.footer_link ul li a:hover {
    opacity: 0.8;
}
.socials_footer i {
    color: #000;
    font-size: 25px;
    margin-left: 10px;
    transition: all 0.2s ease;
}
.socials_footer i:hover {
    opacity: 0.6;
}
.lower_footer {
    opacity: 0.7;
}
::placeholder {
    color: #a09a9a;
    padding-left: 10px;
}
