@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none !important;
    color: #000 !important;
}
ul {
    list-style: none;
}
li {
    margin-bottom: 15px;
}
:root {
    --primary-color: #ada2ff;
    --secondary-color: #c0deff;
    --tertiary-color: #ffe5f1;
    --fourth-color: #fff8e1;
    --fifth-color: #F8EFFA;
    --light-color: #fff;
    --black: #000;
    --dark: #333;
    --botton: #645cbb;
    --box-shadow: 2px 3px 6px rgba(0,0,0,0.4);
}
/* navbar */
.header {
    margin-bottom: 80px;
}
.navbar {
    background-color: var(--tertiary-color);
    box-shadow: var(--box-shadow);
}
.navbar-nav a {
    transition: all 0.2s ease;
}
.navbar-nav li a:hover {
  padding: 3px;
}
.navbar-brand img{
    margin-left: 80px;
    width: 150px;
}
.nav_social i {
    cursor: pointer;
    transition: all 0.2s ease;
}
.nav_social i:hover {
    color: #f50bce;
}
.order-lg-1 i {
    font-size: 20px;
    margin-left: 10px;
}
#btn_price {
    background-color: var(--botton);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}
#btn_price:hover {
    opacity: 0.7;
}
.icons i, a {
    font-size: 18px;
    cursor: pointer;
}
/*signup-login*/
.form-signup{
    margin: 0 auto;
    max-width: 400px;
}

.form-signup h2{
    text-align: center;
}

.form-signup h3{
    text-align: left;
}

.social-icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
}
.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 25px;
}
.facebook{
    background-color: #385998;
}
.instagram{
    background: linear-gradient(rgb(243,5,171),rgb(205,95,4),yellow);
}
.twitter
{
    background-color: #00ACEE;
}
.google
{
    background-color: #CA3224;
}
.linkedin{
    background-color: #0E76AB;
}
 input:focus,input:hover,input:active
 {
     outline: none;
 }



/* carousel */

/* best seller */
.best_seller {
    background-color: var(--fifth-color);
}
.card-img {
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.card-img:hover {
    transform: scale(1.1);
}
/* about us */
.about,
.featured_products {
    background-color: #F8EFFA;
}
.about_msg {
    line-height: 2;
}
.paragraph {
    line-height: 30px;
    margin-left: 40px;
}
#different li {
    list-style: disc;
}

/* frequently asked */

/* footer */
.footer {
    background-color: #FFE5F1;
}
.form-control-footer {
    width: 400px;
    border: none;
    height: 40px;
}
.form-control-footer:focus {
    outline: none;
}
.btn_footer {
    width: 40px;
    height: 38px;
    border: none;
    background-color: #645CBB;
    color: #fff;
}
.footer_link ul li {
    padding-top: 20px;
}
#footer2 {
    margin-left: 80px;
}
.footer_links ul li a:hover {
    opacity: 0.8;
}
.socials_footer i {
    color: #000;
    font-size: 25px;
    margin-left: 10px;
    transition: all 0.2s ease;
}
.socials_footer i:hover {
    opacity: 0.6;
}
.lower_footer {
    opacity: 0.7;
}
::placeholder {
    color: #a09a9a;
    padding-left: 10px;
}
.list2 {
    margin-left: 50px;
}
#unlist li {
    margin: 0;;
}
@media only screen and (max-width: 1000px) {
    .nav-link:hover{
        border-bottom: none!important;
    }
}
