@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
}
li {
    margin-bottom: 15px;
}
:root {
    --primary-color: #ada2ff;
    --secondary-color: #c0deff;
    --tertiary-color: #ffe5f1;
    --fourth-color: #fff8e1;
    --fifth-color: #F8EFFA;
    --light-color: #fff;
    --dark-blue:#0c0c3b;
    --black: #000;
    --dark: #333;
    --botton: #645cbb;
    --box-shadow: 2px 3px 6px rgba(0,0,0,0.4);
}
/* navbar */
.header {
    margin-bottom: 80px;
}
.navbar {
    background-color: var(--tertiary-color);
    box-shadow: var(--box-shadow);
}
.navbar-nav a {
    transition: all 0.2s ease;
}
.nav-item a:hover {
    opacity: 0.6;
}
.navbar-toggler {
    border: none;
}
.navbar-brand img{
    margin-left: 80px;
    width: 150px;
}
.nav_social i {
    cursor: pointer;
    transition: all 0.2s ease;
}
.nav_social i:hover {
    color: #f50bce;
}
.order-lg-1 i {
    font-size: 20px;
    margin-left: 10px;
}
#btn_price {
    background-color: var(--botton);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}
#btn_price:hover {
    opacity: 0.7;
}
.icons i, a {
    font-size: 18px;
    cursor: pointer;
}

ul li {
    display: inline-block;  
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    position: absolute;
    background: #645cbb;
    display: none;
    padding-right: 30px;
    padding-top: 10px;
    border-radius: 20px;
}

ul li:hover {
    background: #ffe5f1;
    border-radius: 10px;
}

ul li:hover ul.dropdown {
    display: block;
}

/* search form */
#search-form {
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1001;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;  
} 
#search-form.active {
    top: 0;
}
#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #ffff;
    font-size: 1rem;
    text-transform: none;
    background: none;
    border-top:none;
    border-left: none;
    border-right: none;
}
#search-form #search-box::placeholder {
    color: whitesmoke;
}
#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}  
#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 5px;
}
#search-form label:hover {
    opacity: 0.6;
}
#search-form #close {
    position: absolute;
    color: var(--light-color);
    cursor: pointer;
    top: 8rem; right: 3rem;
    font-size: 1rem;
}
/* carousel */
.carousel-inner .card {
    width: 800px;
    height: 300px;
}
/* best seller */
.best_seller {
    /* background-color: var(--fifth-color); */
    background-image: url(logo/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
 #sweeter p,
 .subtitle {
    font-family: 'Marck Script', cursive;
}
.card-img {
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.card-img:hover {
    transform: scale(1.1);
}
.card-body p {
    color: var(--dark-blue);
}
.img_heart .fa-heart {
    position: absolute;
    top: 1.3rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    color: red;
    background-color: lightpink;
}
.img_heart .fa-heart:hover {
    background-color:red;
    color: var(--light-color);
}
/* category section*/
#bdaycake p {
   font-family: 'Marck Script', cursive;
   padding-top: 40px;
}

.category {
    /* background-color: var(--fifth-color); */
    background-image: url(logo/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
/* end of category section*/

/* about us */
.about,
.featured_products {
    background-color: #F8EFFA;
}
.about_msg {
    line-height: 2;
}
.paragraph {
     margin-left: 40px;
}
#different li {
    list-style: disc;
}
/* frequently asked */
/* footer */
.footer {
    background-color: #FFE5F1;
} 
.form-control-footer {
    width: 400px;
    border: none;
    height: 40px;
}
.form-control-footer:focus {
    outline: none;
}
.btn_footer {
    width: 40px;
    height: 38px;
    border: none;
    background-color: #645CBB;
    color: #fff;
}
.footer_link ul li {
    padding-top: 20px;
}
#links ul li a {
    color: var(--black);
}
#footer2 {
    margin-left: 80px;
}
.footer_links ul li a {
    opacity: 0.6;
    transition: all 0.3s ease;
}
.footer_links ul li a:hover {
    opacity: 1;
}
.socials_footer i {
    color: #000;
    font-size: 25px;
    margin-left: 10px;
    transition: all 0.2s ease;
}
.socials_footer i:hover {
    opacity: 0.6;
}
.lower_footer {
    opacity: 0.7;
}
.lower_footer p {
    margin-bottom: 0;
    padding-bottom: 15px;
}
::placeholder {
    color: #a09a9a;
    padding-left: 10px;
}
.list2 {
    margin-left: 50px;
}
#unlist li {
    margin: 0;;
}
/* tooltip */
.btn_footer .tooltip {
    position: absolute;
    background-color: var(--fourth-color);
    width: 70px;
    height: 27px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    font-weight: bold;
    color: var(--black);
    pointer-events: none;
    box-shadow: var(--box-shadow);
}
.btn_footer:hover .tooltip {
    opacity: 1;
    transition: all 0.3s ease;
}
.bi-chevron-right:hover {
    color: orangered;
}
/* back to top */
.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 7px;
    background-color: var(--tertiary-color);
    padding: 10px;
    color: var(--botton);
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
    visibility: hidden;
}
.back-top-btn .chevron_icon {
    font-size: 25px
}
.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}
.back-top-btn:hover {
   color:orangered;
 }  
 /* modal */
 #btn-modal {
    background-color: blueviolet;
    color: var(--light-color);
 }
 #btn-modal:hover {
    background-color: #a862e9;
 }
@media only screen and (max-width: 1000px) {
    .nav-link:hover{
        border-bottom: none!important;
    }
}
/* login page */
.box-form {
    margin: 15px auto;
    width: 60vw;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    box-shadow: 0 0 20px 2px var(--botton);
    height: 75vh;
}
.exp {
    font-size: 35px;
    font-family: 'Marck Script', cursive;
}
.box-form .left {
    color: #fff;
    background-size: cover;
    background-position: center;
    background-image: url(logo/bg2.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}
.box-form .left .overlay {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-form .left .overlay p {
     color: #fff; 
     font-family: 'Marck Script', cursive;
     font-size: 22px;
 }
.box-form .right {
    padding-left: 1vw;
    overflow: hidden;
    width: 30vw;
    height: 100vh;
    padding-right: 2vw;
    padding-top: 2vh;   
}
.box-form .right h5 {
    color: var(--botton);
}
.box-form .right input {
    width: 100%;
    padding: 12px 0 10px 0;
    margin-top: 21px;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid #b0b3b9;
    margin-bottom: 5px;
}
.box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.box-form .right .remember-me--forget-password input {
    margin: 0;
    width: auto;
}
.inputs i {
    position: absolute;
    font-size: 20px;
    margin-left: -50px;
    margin-top: 26px;
    cursor: pointer;
}
label {
    display: block;
    position: relative;
    font-size: 18px;
}
label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.8s linear;
}
.btn_login a {
    color: var(--light-color);
}
.box-form .right .btn_login {
    margin-top: 10px;
    float:right;
    font-size: 16px;
    padding: 8px 25px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    color: var(--light-color);
    box-shadow: 1px 4px 5px 0 #050608a6; 
    background-image: linear-gradient(135deg, #645cbb 10%, #ada2ff 100%);
    transition: all 0.2s ease;
}
.box-form .right .btn_login:hover {
    opacity: 0.8;
    color: var(--light-color);
}
.container .logSuccess {
    margin-top: 200px;
}
#footer_loginSuccess {
    margin-top: 270px;
}
/* register new user */

.box-form-reg {
    margin: 15px auto;
    width: 60vw;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px 2px #be72aef5;
    height: 75vh;
}
.social_signup .fabgo i {
    font-size: 20px;
}
.social_signup .fabgo a {
    color: var(--black);
    opacity: 0.6;
    transition: all 0.2s ease;
}
.social_signup .fabgo a:hover {
    opacity: 1;
}